<div class="col-3" style="margin-top: 30px;">
    <form action="/authenticate" method="POST">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Einloggen</button>
    </form>
</div>
